$fontsize16: 16px;
$fontsize14: 14px;

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  gap: 50px;
}

.nav li {
  padding: 15px 10px 20px 10px;
}

.nav_active {
  text-decoration: underline;
}

@media screen and (max-width: 779px) {
  .nav {
    gap: 20px;
    padding-inline-start: 0px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  
  .nav li {
    font-size: $fontsize16;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 550px) {
  .nav {
    gap: 10px;
    margin-top: 10px;
  }

  .nav li {
    font-size: $fontsize14;
    padding: 5px 5px 10px 5px;
  }

  .banner {
    gap: 10px;
  }
}

@media screen and (max-width: 400px) {
  .nav {
    gap: 5px;
  }

  .nav li {
    font-size: $fontsize14;
    padding: 3px 2px 5px 3px;
  }
}
