$color_1: white;
$fontsize18: 18px;

.card {
    position: relative;
    width: 100%;
    height: 17em;
    border-radius: 10px;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(180deg, #ffffff06, #00000074);
        border-radius: 10px;
        z-index: 1;
        opacity: 0.4;
    }

    &:hover {
        &::before {
            transition: all 1s ease-in-out;
            opacity: 0.3;
        }
    }

    img {
        z-index: 0;
        width: 100%;
        height: 17em;
        object-fit: cover;
        border-radius: 10px;
        filter: contrast(1.3);
    }
}

.card_name {
    h2 {
        position: absolute;
        bottom: 5px;
        z-index: 3;
        font-size: $fontsize18;
        font-weight: 500;
        color: $color_1;
        padding: 10px;
        margin: 0;
    }
}

@media screen and (max-width: 400px) {
    .card {
        height: 15em;
        img {
            height: 15em;
        }
    }
}
