.logo_contain {
    width: 180px;
  }
  
  .logo {
    margin-left: 0;
    width: 100%;
  }
  
  @media screen and (max-width: 779px) {
    .logo_contain {
      max-width: 160px;
    }
  }
  
  @media screen and (max-width: 550px) {
    .logo_contain {
      max-width: 140px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .logo_contain {
      max-width: 120px;
    }
  }
  
